
<style>
    #wrapper {
        font: 20px Calibri;
        width: 100px;
        margin: 0 auto;
    }
</style>
<div style="background:#121f47; color:#fff; border-radius:5px; margin-top:10px; margin-left:100px; width:auto; height:auto; text-align:center;">

    <span>Are you receiving?</span>
    <label for="chkYes">

        <input id="first" type="radio" name="chkReceiver" ng-model="content" value="yes" checked>
        Yes
    </label>
    <label for="chkNo">
        <input id="other" type="radio" name="chkReceiver" ng-model="content" value="no">
        No
    </label>
</div>
<div class="container">
    <div id="receiveId" ng-show="content == 'yes'">
        <h3>New Gift Received</h3>
        <form class="well form-horizontal" name="newGiftReceivedForm" novalidate data-ng-submit="Receive()">
            <fieldset>

                <div class="form-group" style="display:none;">
                    <label class="col-md-4 control-label">Entry Date </label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input name="Date" type="text" id="receiveDate" />
                        </div>
                    </div>
                </div>
                <!--<input type="text" ng-model="date" mydatepicker />-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Name Of Employee</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="NameOfEmployee" type="text" id="receiveName" value="@ViewBag.Name" required />
                            <span class="error" data-ng-show="newGiftReceivedForm.NameOfEmployee.$error.required">*</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Date Gift Was Received</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input name="Date" type="text" data-ng-model="newGiftReceived.DateGiftWasReceived" receivedatepicker required />
                            <span class="error" data-ng-show="newGiftReceivedForm.DateGiftWasReceived.$error.required">*</span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">Description Of Gift Received</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea name="DescriptionOfGiftReceived" rows="5" cols="30" data-ng-model="newGiftReceived.DescriptionOfGiftReceived" required />
                            <span class="error" data-ng-show="newGiftReceivedForm.DescriptionOfGiftReceived.$error.required">*</span>
                            <!--<span class="error" data-ng-show="newGiftForm.DescriptionOfGiftReceived.$error.minlength">Minimum 2 Characters</span>-->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Gift Received From(name and company)</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="GiftReceivedFrom" id="from" type="text" data-ng-model="newGiftReceived.GiftReceivedFrom" placeholder="Enter name or company..." required />
                            <span class="error" data-ng-show="newGiftReceivedForm.GiftReceivedFrom.$error.required">*</span>
                            <!--<span class="error" data-ng-show="newGiftForm.GiftReceivedFrom.$error.minlength">Minimum 2 Characters</span>-->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Actual Cost</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <input name="ActualCost" type="text" data-ng-model="newGiftReceived.ActualCost" required />
                            <span class="error" data-ng-show="newGiftReceivedForm.ActualCost.$error.required">*</span>
                        </div>
                    </div>
                </div>
                <!--<label>Test</label>
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.display">
                    <span md-highlight-text="searchText">{{item.display}}</span>
                </md-autocomplete>-->


                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" id="receivebtn" class="btn btn-primary" value="Receive" data-ng-disabled="newGiftReceivedForm.$invalid">
                            Send <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                </div>
                <input type="hidden" id="hiddenFieldFrom" name="hiddenFieldFrom" value="">
            </fieldset>
        </form>
    </div>

    <div id="giveId" ng-show="content == 'no'">
        <h3>New Gift Given</h3>
        <form class="well form-horizontal" name="newGiftGivenForm" novalidate data-ng-submit="Give()">
            <fieldset>

                <div class="form-group" style="display:none;">
                    <label class="col-md-4 control-label">Entry Date </label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input name="Date" type="text" id="giveDate" />
                        </div>
                    </div>
                </div>
                <!--<input type="text" ng-model="date" mydatepicker />-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Name Of Employee</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="NameOfEmployee" type="text" id="giveName" value="" required />
                            <span class="error" data-ng-show="newGiftGivenForm.NameOfEmployee.$error.required">*</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Date Gift Was Given</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input name="Date" id="Date" type="text" data-ng-model="newGiftGiven.DateGiftWasGiven" givedatepicker required />
                            <span class="error" data-ng-show="newGiftGivenForm.DateGiftWasGiven.$error.required">*</span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label">Description Of Gift Given</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea name="DescriptionOfGiftGiven" rows="5" cols="30" data-ng-model="newGiftGiven.DescriptionOfGiftGiven" required />
                            <span class="error" data-ng-show="newGiftGivenForm.DescriptionOfGiftGiven.$error.required">*</span>
                            <!--<span class="error" data-ng-show="newGiftForm.DescriptionOfGiftReceived.$error.minlength">Minimum 2 Characters</span>-->
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Gift Given To(name and company)</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="GiftGivenTo" id="to" type="text" data-ng-model="newGiftGiven.GiftGivenTo" placeholder="Enter name or company..." required />
                            <span class="error" data-ng-show="newGiftGivenForm.GiftGivenTo.$error.required">*</span>
                            <!--<span class="error" data-ng-show="newGiftForm.GiftReceivedFrom.$error.minlength">Minimum 2 Characters</span>-->
                        </div>
                    </div>
                </div>

                <!--<div class="container">
                    <h4>Autocomplte</h4>
                    <div ng-controller="newGiftsReceivedController">
                        <div angucomplete-alt id="txtAutocomplete" placeholder="type name" pause="100"
                         selected-object="afterSelectedName" local-data="Names"search-fields="UserName"
                          text-field="UserName" minlength="1" input-class="form-control" match-class="highlight"  >
                    </div>
                        <div ng-show="SelectedName">
                            Selected Name:{{SelectedName.UserName}}

                        </div>
                    </div>
                    </div>-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Actual Cost</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <input name="ActualCost" type="text" data-ng-model="newGiftGiven.ActualCost" required />
                            <span class="error" data-ng-show="newGiftGivenForm.ActualCost.$error.required">*</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" id="givebtn" class="btn btn-primary" value="Give" data-ng-disabled="newGiftGivenForm.$invalid">
                            Send <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                </div>
                <input type="hidden" id="hiddenFieldTo" name="hiddenFieldTo" value="">
            </fieldset>
        </form>
    </div>
</div>
<div class="modal fade  preview-modal" data-backdrop="" id="basic" role="dialog" aria-labelledby="basic" aria-hidden="true">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content" style="background-color:#ffffff; borderolid 4px #44d775;margin-top:253px; left:-25px;">
            <div class="modal-header" style="background-color:#44d775; height:15px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:-12px;">x</button>
                <span class="glyphicon glyphicon-ok" style="color:yellow; font-size:large; top:-10px; left:115px;" aria-hidden="true"></span>
                <h4 class="modal-title" id="myModalLabel" style="text-align:center;"></h4>
            </div>
            <p style="text-align:center; font-family:'Ebrima'; color:black; margin-top:15px;"> <strong> Gift Saved Successfully </strong></p>
        </div>
    </div>
</div>
